* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: rgb(59, 175, 117);
  --main-color-transparent: rgba(59, 175, 117, 0.9);
  --background-color: #f2f2f3;
  --shade-color: gray
}

body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #333;
}

h1, h2, ul {
  text-align: center;
}

h2 {
  font-weight: normal;
}

p {
  line-height: 1.5;
}

ul {
  margin: 0 auto;
}

.container {
  margin: 0 32px;
}

.masking {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 15px;
  background: rgba(0,0,0,.6);
  opacity: 0;
  transition: .3s;
}

/* --------------------------------------------------------- */
/* Header */
/* .top-wrapper {
  height: 600px;
  padding: 160px 0 100px 0;
  background-image: url("../img/top.jpg");
  background-size: cover;
} */

.top-wrapper {
  height: 600px;
  padding: 160px 0 100px 0;
  background-image: url("../img/top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#top-title {
  color: var(--background-color);
  font-size: 70px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 3px 3px 5px gray;
}

#top-subtitle {
  color: var(--background-color);
  font-size: 25px;
  text-align: center;
  opacity: 0;
  transform: translateX(50px);
  transition: all 1s;
}

#top-subtitle.scrollin {
  opacity: 1;
  transform: translate(0);
}

/* --------------------------------------------------------- */
/* Nav */

/* for PC and Tablet */
.topmenu-wrapper {
  display: none;
  position :fixed;
  top: 0;
  height: 65px;
  width: 100%;
  background-color: var(--main-color-transparent);
  z-index: 10;
  font-size: 20px;
}

.topmenu-nav {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  list-style-type: none;
  padding: 6px;
  width: 90%;
}

.topmenu-nav a {
  display: block;
  padding: 12px 20px;
  line-height: 30px;
  color: var(--background-color);
  text-decoration: none;
  transition: all 0.3s;
  text-shadow: 2px 2px 2px var(--shade-color);
}

.topmenu-nav a::after {
  content: '';
  transition: transform 0.3s;
  display: block;
  height: 2px;
  background: var(--background-color);
  box-shadow: 2px 2px 2px var(--shade-color);
  transform: scale(0, 1);
}

.topmenu-nav a:hover::after {
  width: 100%;
  transform: scale(1, 1);
}

/* for Smartphone */
#menu-toggle {
  right: 15px;
  top: 7px;
  width: 50px;
  text-align: center;
  color: #333;
  border: 1px solid var(--main-color-transparent);
  border-radius: 15px;
  line-height: 53px;
  z-index: 10;
  position: fixed;
}

#menu-toggle:hover {
  cursor: pointer;
}

#sidebar-wrapper {
  position: fixed;
  z-index: 5;
  transition: all .4s ease-in-out 0s;
  background: var(--main-color-transparent);
  top: 0;
  width: 100%;
  height: 350px;
  padding: 30px;
  transform: translateY(-350px);
}

#sidebar-wrapper.active {
  top: 350px;
}

#sidebar-nav {
  position: absolute;
  top: 65px;
  text-align: left;
  list-style: none;
}

#sidebar-nav a {
  padding: 15px 0;
  display: block;
  text-decoration: none;
  color: var(--background-color);
  text-shadow: 2px 2px 2px var(--shade-color);
}

#sidebar-nav a::after {
  content: '';
  transition: transform 0.3s;
  display: block;
  height: 2px;
  background: var(--background-color);
  box-shadow: 2px 2px 2px var(--shade-color);
  transform: scale(0, 1);
}

#sidebar-nav a:hover::after {
  width: 100%;
  transform: scale(1, 1);
}

/* --------------------------------------------------------- */
/* About Section */

#about {
  background: var(--background-color);
  padding: 70px 0 100px 0;
}

.face-image {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

#about img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 10px var(--shade-color);
}

.rotate-90 {
  transform: rotate(90deg) scale(0);
}

.face-image:hover .rotate-90 {
  transform: rotate(360deg) scale(1);
  opacity: 1;
}

.face-image p {
  color: var(--background-color);
  text-align: left;
  font-size: 14px;
}

.about-text {
  background: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 10px var(--shade-color);
}

.about-text a {
  color: var(--main-color);
}

/* --------------------------------------------------------- */
/* Skills Section */

#skills {
  padding: 70px 0 100px 0;
  background-image: url(../img/background-bridge.jpg);
  background-size: cover;
  background-color: rgb(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.skill {
  max-width: 400px;
  margin: 30px auto 0 auto;
  padding: 30px 0 20px 0;
  background: var(--background-color);
  border-radius: 15px;
  box-shadow: 0 0 10px var(--shade-color);
  transition: all .3s;
}

#skills h2 {
  padding: 0 15px 10px 0;
  color: var(--main-color);
}

.skill:hover {
  transform: translateY(-10px);
}

.skill .fas {
  margin-right: 10px;
}

.skill ul {
  list-style-type: none;
}

.skill li {
  padding-bottom: 10px;
}

/* --------------------------------------------------------- */
/* Projects Section */

#projects {
  padding: 70px 0 100px 0;
  background: var(--background-color);
}

.project {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 15px;
  margin: 30px auto 0 auto;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 10px var(--shade-color);
  position: relative;
  overflow: hidden;
}

.rotate-y {
  transform: rotateY(180deg);
  opacity: 0;
  margin: 0 auto;
}

.project:hover .rotate-y {
  transform: rotateY(0);
  opacity: 1;
}

.project .masking p {
  color: var(--background-color);
  font-size: 50px;
}

.project-image {
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 20px auto;
}

#projects img {
  width: 100%;
  height: 100%;
	transition-duration: 0.4s;
}

.project-image:hover img {
	transform: scale(1.1);
  transition-duration: 0.4s;
  opacity: 0.8;
}

.project-title {
  margin-bottom: 10px;
}

.project-tech {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.project-tech li {
  margin: 0 5px;
  border-bottom: 2px solid var(--main-color);
}

.project-text {
  margin-bottom: 10px;
  text-align: left;
}

.project-code {
  display: inline-block;
  color: var(--main-color);
  border: solid 1px var(--main-color);
  padding: 10px 20px;
  margin: 0 5px 20px 5px;
  border-radius: 15px;
  text-decoration: none;
  transition:all 0.3s;
}

.project-code .fab {
  margin-right: 10px;
}

.project-code:hover {
  color: var(--background-color);
  background: var(--main-color);
  transition:all 0.3s;
}

/* --------------------------------------------------------- */
/* Contact Section */

#contact {
  padding: 70px 0 100px 0;
  background-image: url(../img/background-temple.jpg);
  background-size: cover;
  background-color: rgb(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

#contact p {
  text-align: center;
  margin: 20px 0;
}

.contact-form {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
}

.contact-form input[type="text"], .contact-form textarea {
  background: var(--background-color);
  border: none;
  width: 100%;
  color: #333;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 0 5px var(--shade-color) inset;
  outline: none;
}

textarea {
  height: 150px;
  font-family: Verdana, sans-serif;
}

.btn-contact {
  font-family: 'Verdana', sans-serif;
  color: var(--main-color);
  background: white;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid var(--main-color);
  box-shadow: 0 5px var(--main-color);
  outline: 0;
}

.btn-contact:hover{
  cursor: pointer;
}

.btn-contact:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.contact-links {
  margin-top: 70px;
  text-align: center;
}

.social-icon {
  display: inline-block;
  background: var(--main-color-transparent);
  width: 50px;
  height: 50px;
  padding-top: 10px;
  border-radius: 50%;
  color: var(--background-color);
  font-size: 24px;
  margin: 0 15px;
  transition-duration: 0.4s;
}

.social-icon:hover{
  color: var(--background-color);
  background-color: var(--main-color);
  transform: scale(1.2);
  transition: all 0.4s;
}

/* --------------------------------------------------------- */
/* Footer */

footer {
  padding: 10px 0;
  background-color: var(--main-color);
  text-align: center;
}

.scrolltop {
  margin: 10px 0 20px 0;
}

.scrolltop a {
  background: var(--background-color);
  color: var(--main-color);
  border-radius: 15px;
  display: inline-block;
  padding: 15px;
  animation: hoverShake 1.5s ease infinite;
  box-shadow: 0 0 10px var(--shade-color);
}

@keyframes hoverShake {
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-10px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-10px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}

footer p {
  color: var(--background-color);
}
